@model IEnumerable<TPDDSGrupo44.Models.CGP>



@{
    ViewBag.Title = "ABMCGP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TPDDSGrupo44.Helpers
<h2>Consulta de CGPs</h2>

<ul class="view-navegation">
@Html.ActionPermissions("Alta de CGPs", "CreateCGP", "Admin", "Alta POI", "ion-ios-plus-outline")
</ul>
<table class="table">
    <tr>
        <th>
            <label>Nombre de POI</label>
        </th>
        <th>
            <label>Calle</label>
        </th>
        <th>
            <label>Altura</label>
        </th>

        <th>
            <label>Codigo Postal</label>
        </th>
        <th>
            <label>Localidad</label>
        </th>
        <th>
            <label>Barrio</label>
        </th>
        <th>
            <label>Provincia</label>
        </th>
        <th>
            <label>Pais</label>
        </th>
        <th>
            <label>Entre Calles</label>
        </th>
        <th>
            <label>Nº Comuna</label>
        </th>
        <th>
            <label>Zona Delimitada</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreDePOI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroAltura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.barrio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.provincia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entreCalles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numeroDeComuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zonaDelimitadaPorLaComuna)
            </td>
            <td>
                <span class="ion-ios-compose-outline"></span>@Html.ActionLink("Editar", "EditCGP", new { id = item.id })<br />
                <span class="ion-ios-trash-outline"></span>@Html.ActionLink("Borrar", "DeleteCGP", new { id = item.id })
            </td>
        </tr>
    }

</table>
