
@{
    ViewBag.Title = "ABM de POIs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TPDDSGrupo44.ViewModels.BaseViewModel
@using TPDDSGrupo44.Helpers

<h2>Alta, baja y modificaciones de POIs</h2>

<div class="row">
    <div class="col-sm-6">
        <h3>Bancos</h3>
        <ul>
            @Html.ActionPermissions("Consultar bancos", "ABMBanco", "Admin", "Consultar POI")
            @Html.ActionPermissions("Alta de bancos", "CreateBanco", "Admin", "Alta POI")
            @Html.ActionPermissions("Editar bancos", "EditBanco", "Admin", "Editar POI")
            @Html.ActionPermissions("Borrar bancos", "DeleteBanco", "Admin", "Baja POI")
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>CGP</h3>
        <ul>
            @Html.ActionPermissions("Consultar CGPs", "ABMCGP", "Admin", "Consultar POI")
            @Html.ActionPermissions("Alta de CGPs", "CreateCGP", "Admin", "Alta POI")
            @Html.ActionPermissions("Editar CGPs", "EditCGP", "Admin", "Editar POI")
            @Html.ActionPermissions("Borrar CGPs", "DeleteCGP", "Admin", "Baja POI")
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Locales comerciales</h3>
        <ul>
            @Html.ActionPermissions("Consultar locales", "ABMLocalComercial", "Admin", "Consultar POI")
            @Html.ActionPermissions("Alta de locales", "CreateLocalComercial", "Admin", "Alta POI")
            @Html.ActionPermissions("Modificación de locales", "EditLocalComercial", "Admin", "Editar POI")
            @Html.ActionPermissions("Eliminar locales", "DeleteLocalComercial", "Admin", "Baja POI")
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>Paradas de colectivo</h3>
        <ul>
            @Html.ActionPermissions("Consultar paradas", "ABMParada", "Admin", "Consultar POI")
            @Html.ActionPermissions("Alta de paradas", "CreateParada", "Admin", "Alta POI")
            @Html.ActionPermissions("Modificación de paradas", "EditParada", "Admin", "Editar POI")
            @Html.ActionPermissions("Eliminar paradas", "DeleteParada", "Admin", "Baja POI")
        </ul>
    </div>
</div>

