@model TPDDSGrupo44.Models.LocalComercial

@{
    ViewBag.Title = "CreateLocalComercial";
}

<h2>Crear Local Comercial</h2>


@Html.AntiForgeryToken()


<div class="form-horizontal">
    <hr />
    @using (Html.BeginForm("CreateLocalComercial", "Admin", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group col-md-12">
            <div class="col-md-2">
                @Html.LabelFor(model => model.coordenada.Latitude)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.coordenada.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coordenada.Latitude, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.coordenada.Longitude)
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.coordenada.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coordenada.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>

  

        <div class="form-group col-md-12">
            <div class="col-md-2">
                @Html.Label("Calle")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.calle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calle, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.Label("Altura")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.numeroAltura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroAltura, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group col-md-12">
            <div class="col-md-2">
                @Html.Label("Piso")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.piso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.piso, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.Label("Unidad")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.unidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.unidad, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group col-md-12">
            <div class="col-md-2">
                @Html.Label("Codigo Postal")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.codigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codigoPostal, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.Label("Localidad")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.localidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.localidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-2">
                @Html.Label("Barrio")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.barrio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.barrio, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.Label("Provincia")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.provincia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.provincia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-2">
                @Html.Label("Pais")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.pais, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.Label("Entre Calles")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.entreCalles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entreCalles, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-12">
            <div class="col-md-2">
                @Html.Label("Nombre POI")
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.nombreDePOI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombreDePOI, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.Label("Palabras Clave")
            </div>
            <div class="col-md-4">
                <input class="form-control" name="palabrasClave">
            </div>
        </div>




        <div class="form-group col-md-12">
            <div class="col-md-2">
                @Html.Label("Rubro")
            </div>
            <div class="col-md-4">
                <input class="form-control" name="rubro">
            </div>
            <div class="col-md-2">
                @Html.Label("Radio Cercania")
            </div>
            <div class="col-md-4">
                <input class="form-control" name="radioDeCercania" />
            </div>
        </div>



        <div class="form-group col-md-12">
            <div class="col-md-2">
                <label>Lunes</label>
            </div>
            <div class="col-md-4">
                De <input class="form-control" name="abreLunes" type="time"> a <input class="form-control" name="cierraLunes" type="time">
            </div>
            <div class="col-md-2">
                <label>Martes</label>
            </div>
            <div class="col-md-4">
                De <input class="form-control" name="abreMartes" type="time"> a <input class="form-control" name="cierraMartes" type="time">
            </div>
        </div>



        <div class="form-group col-md-12">
            <div class="col-md-2">
                <label>Miercoles</label>
            </div>
            <div class="col-md-4">
                De <input class="form-control" name="abreMiercoles" type="time"> a <input class="form-control" name="cierraMiercoles" type="time">
            </div>
            <div class="col-md-2">
                <label>Jueves</label>
            </div>
            <div class="col-md-4">
                De <input class="form-control" name="abreJueves" type="time"> a <input class="form-control" name="cierraJueves" type="time">
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-2">
                <label>Viernes</label>
            </div>
            <div class="col-md-4">
                De <input class="form-control" name="abreViernes" type="time"> a <input class="form-control" name="cierraViernes" type="time">
            </div>
            <div class="col-md-2">
                <label>Sabado</label>
            </div>
            <div class="col-md-4">
                De <input class="form-control" name="abreSabado" type="time"> a <input class="form-control" name="cierraSabado" type="time">
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-2">
                <label>Domingo</label>
            </div>
            <div class="col-md-4">
                De <input class="form-control" name="abreDomingo" type="time"> a <input class="form-control" name="cierraDomingo" type="time">
            </div>
        </div>



        <div class="form-group ">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Volver a la lista", "ABMLocalComercial", "Admin")
</div>
