@model TPDDSGrupo44.ViewModels.ServBViewModel

@{
    ViewBag.Title = "CreateServBancos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2> Crear servicio de bancos</h2>

@Html.AntiForgeryToken()

    @using (Html.BeginForm("CreateServBancos", "Admin", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idBanco)


            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>Lunes</label>
                    </div>
                    <div class="col-md-9">
                        De <input class="form-control" name="abreLunes" type="time"> a <input class="form-control" name="cierraLunes" type="time">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>Martes</label>
                    </div>
                    <div class="col-md-9">
                        De <input class="form-control" name="abreMartes" type="time"> a <input class="form-control" name="cierraMartes" type="time">
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>Miercoles</label>
                    </div>
                    <div class="col-md-9">
                        De <input class="form-control" name="abreLunes" type="time"> a <input class="form-control" name="cierraLunes" type="time">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>Jueves</label>
                    </div>
                    <div class="col-md-9">
                        De <input class="form-control" name="abreLunes" type="time"> a <input class="form-control" name="cierraLunes" type="time">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>Viernes</label>
                    </div>
                    <div class="col-md-9">
                        De <input class="form-control" name="abreLunes" type="time"> a <input class="form-control" name="cierraLunes" type="time">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>Sabado</label>
                    </div>
                    <div class="col-md-9">
                        De <input class="form-control" name="abreLunes" type="time"> a <input class="form-control" name="cierraLunes" type="time">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-3">
                        <label>Domingo</label>
                    </div>
                    <div class="col-md-9">
                        De <input class="form-control" name="abreLunes" type="time"> a <input class="form-control" name="cierraLunes" type="time">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Agregar Otro Servicio" class="btn btn-default" name="siguiente"/>
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Finalizar" class="btn btn-default" name="terminar" />
                </div>
            </div>
    }


