@model TPDDSGrupo44.Models.ParadaDeColectivo

@{
    ViewBag.Title = "DeleteParada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Parada</h2>

<h3>¿Esta seguro que quiere eliminar este POI?</h3>
<div>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.Label("Nombre del POI")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreDePOI)
        </dd>

        <dt>
            <label> Calle</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calle)
        </dd>

        <dt>
            <label> Altura</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroAltura)
        </dd>

        <dt>
            <label> Codigo Postal</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoPostal)
        </dd>

        <dt>
            <label> Localidad</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.localidad)
        </dd>

        <dt>
           <label> Barrio</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barrio)
        </dd>

        <dt>
            <label>Provincia</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            <label>Pais</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            <label>Entre Calles</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.entreCalles)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "ABMParada", "Admin")
        </div>
    }

</div>
