@model TPDDSGrupo44.Models.CGP

@{
    ViewBag.Title = "Editar CGP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar CGP</h2>

@using (Html.BeginForm("EditCGP", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CGP</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.coordenada.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.coordenada.Latitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coordenada.Latitude, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.coordenada.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.coordenada.Longitude, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coordenada.Longitude, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.calle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.calle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.calle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroAltura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroAltura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroAltura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.piso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.piso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.piso, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.unidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.unidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.unidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codigoPostal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.codigoPostal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.localidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.localidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.localidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.barrio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.barrio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.barrio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.provincia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.provincia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.provincia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pais, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pais, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.entreCalles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.entreCalles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.entreCalles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombreDePOI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreDePOI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombreDePOI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroDeComuna, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroDeComuna, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroDeComuna, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zonaDelimitadaPorLaComuna, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zonaDelimitadaPorLaComuna, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zonaDelimitadaPorLaComuna, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.palabrasClave, htmlAttributes: new { @class = "control-label col-md-2" })
            @{string variablePalabra = "";}
            @foreach (var palabra in Model.palabrasClave)
            {

                variablePalabra = variablePalabra + @palabra.palabraClave + ",";
            }
            <div class="col-md-10">
                <input class="form-control" value="@variablePalabra" name="palabrasClave" />
            </div>
        </div>






        <div class="form-group col-md-12">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Lunes</label>
                </div>
                <div class="col-md-9">
                    @{string abreLunesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Monday).Single().horarioInicio) < 10)
                    { abreLunesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Monday).Single().horarioInicio)) + ":" + "00"); }
                    else { abreLunesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Monday).Single().horarioInicio)) + ":" + "00"; }
                    @{string cierraLunesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Monday).Single().horarioFin) < 10)
                    { cierraLunesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Monday).Single().horarioFin)) + ":" + "00"); }
                    else { cierraLunesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Monday).Single().horarioFin)) + ":" + "00"; }
                    De <input class="form-control" name="abreLunes" type="time" value="@abreLunesHorario"> a <input class="form-control" name="cierraLunes" type="time" value="@cierraLunesHorario">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Martes</label>
                </div>
                <div class="col-md-9">
                    @{string abreMartesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Tuesday).Single().horarioInicio) < 10)
                    { abreMartesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Tuesday).Single().horarioInicio)) + ":" + "00"); }
                    else { abreMartesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Tuesday).Single().horarioInicio)) + ":" + "00"; }
                    @{string cierraMartesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Tuesday).Single().horarioFin) < 10)
                    { cierraMartesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Tuesday).Single().horarioFin)) + ":" + "00"); }
                    else { cierraMartesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Tuesday).Single().horarioFin)) + ":" + "00"; }
                    De <input class="form-control" name="abreMartes" type="time" value="@abreMartesHorario"> a <input class="form-control" name="cierraMartes" type="time" value="@cierraMartesHorario">
                </div>
            </div>



            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Miercoles</label>
                </div>
                <div class="col-md-9">
                    @{string abreMiercolesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Wednesday).Single().horarioInicio) < 10)
                    { abreMiercolesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Wednesday).Single().horarioInicio)) + ":" + "00"); }
                    else { abreMiercolesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Wednesday).Single().horarioInicio)) + ":" + "00"; }
                    @{string cierraMiercolesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Wednesday).Single().horarioFin) < 10)
                    { cierraMiercolesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Wednesday).Single().horarioFin)) + ":" + "00"); }
                    else { cierraMiercolesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Wednesday).Single().horarioFin)) + ":" + "00"; }
                    De <input class="form-control" name="abreMiercoles" type="time" value="@abreMiercolesHorario"> a <input class="form-control" name="cierraMiercoles" type="time" value="@cierraMiercolesHorario">
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Jueves</label>
                </div>
                <div class="col-md-9">
                    @{string abreJuevesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Thursday).Single().horarioInicio) < 10)
                    { abreJuevesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Thursday).Single().horarioInicio)) + ":" + "00"); }
                    else { abreJuevesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Thursday).Single().horarioInicio)) + ":" + "00"; }
                    @{string cierraJuevesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Thursday).Single().horarioFin) < 10)
                    { cierraJuevesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Thursday).Single().horarioFin)) + ":" + "00"); }
                    else { cierraJuevesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Thursday).Single().horarioFin)) + ":" + "00"; }
                    De <input class="form-control" name="abreJueves" type="time" value="@abreJuevesHorario"> a <input class="form-control" name="cierraJueves" type="time" value="@cierraJuevesHorario">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Viernes</label>
                </div>
                <div class="col-md-9">
                    @{string abreViernesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Friday).Single().horarioInicio) < 10)
                    { abreViernesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Friday).Single().horarioInicio)) + ":" + "00"); }
                    else { abreViernesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Friday).Single().horarioInicio)) + ":" + "00"; }
                    @{string cierraViernesHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Friday).Single().horarioFin) < 10)
                    { cierraViernesHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Friday).Single().horarioFin)) + ":" + "00"); }
                    else { cierraViernesHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Friday).Single().horarioFin)) + ":" + "00"; }
                    De <input class="form-control" name="abreViernes" type="time" value="@abreViernesHorario"> a <input class="form-control" name="cierraViernes" type="time" value="@cierraViernesHorario">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Sabado</label>
                </div>
                <div class="col-md-9">
                    @{string abreSabadoHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Saturday).Single().horarioInicio) < 10)
                    { abreSabadoHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Saturday).Single().horarioInicio)) + ":" + "00"); }
                    else { abreSabadoHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Saturday).Single().horarioInicio)) + ":" + "00"; }
                    @{string cierraSabadoHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Saturday).Single().horarioFin) < 10)
                    { cierraSabadoHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Saturday).Single().horarioFin)) + ":" + "00"); }
                    else { cierraSabadoHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Saturday).Single().horarioFin)) + ":" + "00"; }
                    De <input class="form-control" name="abreSabado" type="time" value="@abreSabadoHorario"> a <input class="form-control" name="cierraSabado" type="time" value="@cierraSabadoHorario">
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Domingo</label>
                </div>
                <div class="col-md-9">
                    @{string abreDomingoHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Sunday).Single().horarioInicio) < 10)
                    { abreDomingoHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Sunday).Single().horarioInicio)) + ":" + "00"); }
                    else { abreDomingoHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Sunday).Single().horarioInicio)) + ":" + "00"; }
                    @{string cierraDomingoHorario = "";}
                    @if ((@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Sunday).Single().horarioFin) < 10)
                    { cierraDomingoHorario = ("0" + (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Sunday).Single().horarioFin)) + ":" + "00"); }
                    else { cierraDomingoHorario = (Convert.ToString(@Model.horarioAbierto.Where(d => d.dia == DayOfWeek.Sunday).Single().horarioFin)) + ":" + "00"; }
                    De <input class="form-control" name="abreDomingo" type="time" value="@abreDomingoHorario"> a <input class="form-control" name="cierraDomingo" type="time" value="@cierraDomingoHorario">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
}

<div>
    @Html.ActionLink("Back to List", "ABMCGP", "Admin")
</div>