@model IEnumerable<TPDDSGrupo44.DataModels.Busqueda>

@{
    ViewBag.Title = "Búsquedas Realizadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reportes de Búsqueda</h2>

<nav>@Html.ActionLink("Busquedas por Día", "SearchPerDay", "Admin") | @Html.ActionLink("Resultados por Búsqueda", "ResultsPerSearch", "Admin") </nav>

<h3>Todas las búsquedas</h3>
<table class="table">
    <tr>
        <th>
            Texto buscado
        </th>
        <th>
            Cantidad de resultados
        </th>
        <th>
            Fecha
        </th>
        <th>Duración</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.textoBuscado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadDeResultados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duracionDeBusqueda)
        </td>
    </tr>
}

</table>
