@using TPDDSGrupo44.Helpers    
<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/scripts/jquery-3.1.0.js")

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYAVxWoAsXMvJ6zBUiwHjZc9q0q2-XG5g&language=es" async defer></script>

    <link href='https://fonts.googleapis.com/css?family=Slabo+13px|Roboto' rel='stylesheet' type='text/css'>

</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("BuscAR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(" Encontrá Puntos", "Index", "Home", new { @class = "ion-ios-search" })</li>
                        @if (TPDDSGrupo44.ViewModels.BaseViewModel.usuario != null)
                        {
                            
                            if (TPDDSGrupo44.ViewModels.BaseViewModel.usuario.rol.funcionalidades.Where(f => f.nombre == "Alta POI" || f.nombre == "Baja POI" || f.nombre == "Editar POI" || f.nombre == "Consultar POI").ToList().Count() > 0)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="ion-ios-location-outline"></span>
                                        ABM de POIs
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Paradas", "ABMParada", "Admin")</li>
                                        <li>@Html.ActionLink("Locales Comerciales", "ABMLocalComercial", "Admin")</li>
                                        <li>@Html.ActionLink("Bancos", "ABMBanco", "Admin")</li>
                                        <li>@Html.ActionLink("CGPs", "ABMCGP", "Admin")</li>
                                    </ul>
                                </li>
                            }
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="ion-ios-toggle-outline"></span>
                                    Sistema
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @Html.ActionPermissions("Reportes", "Index", "Admin", "Reportes", "ion-ios-paper-outline")
                                    @Html.ActionPermissions("Configuración", "Settings", "Admin", "Configuracion", "ion-ios-settings")
                                </ul>
                             </li>
                                    
                              <li>@Html.ActionLink(" Log Out", "LogOut", "User", new { @class = "ion-ios-person-outline" })</li>
                         }
                         else
                         {
                              <li>@Html.ActionLink(" Log In", "Index", "User", new { @class = "ion-ios-person-outline" })</li>
                         }
                 </ul>
</div>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer >
        <div >
            @* <main class="container body-content">*@
            
            @*<hr />*@
            <p class="foot">&copy; @DateTime.Now.Year - Grupo 44 DDS - UTN FRBA</p>
            @*</main>*@
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>