@{
    ViewBag.Title = "¡Buscá puntos!";
}


@using System.Globalization
@model TPDDSGrupo44.ViewModels.SearchViewModel

@Scripts.Render("~/scripts/index.js")


    @if (Model != null)
    {
        <script>
    $(document).ready(function() {
                var text = "@Model.terminal.nombre";
                var place = {
            lat: parseFloat(@Model.terminal.coordenada.Latitude),
        lng: parseFloat(@Model.terminal.coordenada.Longitude)
        };

            initMap(place, text);
    });
        </script>
    }
        

<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <p>@ViewBag.Message</p>
        </hgroup>
    </div>
</section>


    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="row">
        <div class="form-group col-md-4" id="argumentos">
            <input type="text" class="argumento" placeholder="¿Qué buscás?" name="argumento-1"/>
        </div>
        <div class="form-group col-md-4">
            <button id="agregar" type="button">Agregar</button>
        </div>
        <div class="form-group col-md-4">
                <input type="hidden" placeholder="¿Qué buscás?" name="palabraClave" id="palabraClave">
                <button type="submit">Buscar</button>
        </div>
            </div>
            }


<div class="row">
<div class="form-group col-md-6" id="map"></div>

            <div class="result form-group col-md-6 @ViewBag.Search">
                @if (Model != null)
                {
                    if (Model.paradasEncontradas.Count() != 0 || Model.paradasEncontradasCerca.Count() != 0)
                    {
                        <h2>Paradas de Colectivo</h2>
                    }
                    foreach (var punto in Model.paradasEncontradasCerca)
                    {
                        <div class="poi">
                            <h3><span class="ion-android-bus"></span> @punto.nombreDePOI <span>(cercano)</span></h3>
                            @if (punto.coordenada != null)
                            {
                                <div class="coordinate"><span class="latitude">@punto.coordenada.Latitude</span>; <span class="longitude">@punto.coordenada.Longitude</span></div>
                            }
                            @if (punto.calle.IsEmpty() || punto.numeroAltura == 0)
                            {
                                <span>Dirección no encontrada.</span>
                            }
                            else
                            {
                                <span>@punto.calle @punto.numeroAltura</span>
                            }
                            <div class="detalles">
                                <h4><span class="ion-android-time"></span> Horarios</h4>
                                Siempre disponible.
                            </div>
                        </div>
                    }

                    foreach (var punto in Model.paradasEncontradas)
                    {
                        <div class="poi">
                            <h3><span class="ion-android-bus"></span> @punto.nombreDePOI</h3>
                            @if (punto.coordenada != null)
                            {
                                <div class="coordinate"><span class="latitude">@punto.coordenada.Latitude</span>; <span class="longitude">@punto.coordenada.Longitude</span></div>
                            }
                            @if (punto.calle.IsEmpty() || punto.numeroAltura == 0)
                            {
                                <span>Dirección no encontrada.</span>
                            }
                            else
                            {
                                <span>@punto.calle @punto.numeroAltura</span>
                            }
                            <div class="detalles">
                                <h4><span class="ion-android-time"></span> Horarios</h4>
                                Siempre disponible.
                            </div>
                        </div>
                    }

                    if (Model.bancosEncontrados.Count() != 0 || Model.bancosEncontradosCerca.Count() != 0)
                    {
                        <h2>Banco</h2>
                    }
                    foreach (var punto in Model.bancosEncontradosCerca)
                    {
                        <div class="poi">
                            <h3><span class="ion-android-lock"></span> @punto.nombreDePOI <span>(cercano)</span></h3>
                            @if (punto.coordenada != null)
                            {
                                <div class="coordinate"><span class="latitude">@punto.coordenada.Latitude</span>; <span class="longitude">@punto.coordenada.Longitude</span></div>
                            }
                            @if (punto.calle.IsEmpty() || punto.numeroAltura == 0)
                            {
                                <span>Dirección no encontrada.</span>
                            }
                            else
                            {
                                <span>@punto.calle @punto.numeroAltura</span>
                            }
                            <div class="detalles">
                                @if (punto.horarioAbierto.Count() != 0)
                                {
                                    <h4><span class="ion-android-time"></span> Horarios</h4>
                                    <ul>
                                        @{ CultureInfo ci = new CultureInfo("Es-Es");}

                                      

                                        @foreach (var horario in punto.horarioAbierto)
                                        {
                                            <li>ci.DateTimeFormat.GetDayName(@horario.dia) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                        }
                                    </ul>
                                }
                                <h4>Servicios</h4>
                                <ul>
                                    @foreach (var servicio in punto.servicios)
                                    {
                                        <li>
                                            @servicio.nombre
                                            @if (servicio.horarioAbierto.Count() != 0)
                                            {
                                                <ul>
                                                    @{CultureInfo ci1 = new CultureInfo("Es-Es");}
                                                    @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}
                                                  

                                                    @foreach (var horario in servicio.horarioAbierto)
                                                    {
                                                        <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                                    }
                                                </ul>
                                                        }
                                                        </li>
                                                        }
                                </ul>

                            </div>
                        </div>
                    }

                    foreach (var punto in Model.bancosEncontrados)
                    {
                        <div class="poi">
                            <h3><span class="ion-android-lock"></span> @punto.nombreDePOI</h3>
                            @if (punto.coordenada != null)
                            {
                                <div class="coordinate"><span class="latitude">@punto.coordenada.Latitude</span>; <span class="longitude">@punto.coordenada.Longitude</span></div>
                            }
                            @if (punto.calle.IsEmpty() || punto.numeroAltura == 0)
                            {
                                <span>Dirección no encontrada.</span>
                            }
                            else
                            {
                                <span>@punto.calle @punto.numeroAltura</span>
                            }
                            <div class="detalles">
                                @if (punto.horarioAbierto.Count() != 0)
                                {
                                    <h4><span class="ion-android-time"></span> Horarios</h4>
                                    <ul>
                                       
                                        @{ CultureInfo ci1 = new CultureInfo("Es-Es");}
                                        @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}
                                      
                                        @foreach (var horario in punto.horarioAbierto)
                                        {
                                            

                                            <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                        }
                                    </ul>
                                }

                                @if (punto.servicios.Count() > 0)
                        {
                                    <h4>Servicios</h4>
                                    <ul>
                                        @foreach (var servicio in punto.servicios)
                                        {
                                            <li>
                                                @servicio.nombre
                                                @if (servicio.horarioAbierto.Count() != 0)
                                                {
                                                    <ul>

                                                        @{CultureInfo ci1 = new CultureInfo("Es-Es");}
                                                        @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}
                                                       
                                                        @foreach (var horario in servicio.horarioAbierto)
                                                        {
                                                            <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    }

                    if (Model.localesEncontrados.Count() != 0 || Model.localesEncontradosCerca.Count() != 0)
                    {
                        <h2>Locales Comerciales</h2>
                    }
                    foreach (var punto in Model.localesEncontradosCerca)
                    {
                        <div class="poi">
                            <h3><span class="ion-android-cart"></span> @punto.nombreDePOI <span>(cercano)</span></h3>
                            @if (punto.coordenada != null)
                            {
                                <div class="coordinate"><span class="latitude">@punto.coordenada.Latitude</span>; <span class="longitude">@punto.coordenada.Longitude</span></div>
                            }
                            @if (punto.calle.IsEmpty() || punto.numeroAltura == 0)
                            {
                                <span>Dirección no encontrada.</span>
                            }
                            else
                            {
                                <span>@punto.calle @punto.numeroAltura</span>
                            }
                            <div class="detalles">
                                <h4>Rubro</h4>
                                @punto.rubro.nombre
                                <h4><span class="ion-android-time"></span> Horarios</h4>
                                <ul>
                                    @{CultureInfo ci1 = new CultureInfo("Es-Es");}
                                    @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}
                                
                                    @foreach (var horario in punto.horarioAbierto)
                                    {
                                        <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }

                    foreach (var punto in Model.localesEncontrados)
                    {
                        <div class="poi">
                            <h3><span class="ion-android-cart"></span> @punto.nombreDePOI</h3>
                            @if (punto.coordenada != null)
                            {
                                <div class="coordinate"><span class="latitude">@punto.coordenada.Latitude</span>; <span class="longitude">@punto.coordenada.Longitude</span></div>
                            }
                            @if (punto.calle.IsEmpty() || punto.numeroAltura == 0)
                            {
                                <span>Dirección no encontrada.</span>
                            }
                            else
                            {
                                <span>@punto.calle @punto.numeroAltura</span>
                            }
                            <div class="detalles">
                                <h4>Rubro</h4>
                                @punto.rubro.nombre

                                @if (punto.horarioAbierto.Count() > 0)
                        {
                                    <h4><span class="ion-android-time"></span> Horarios</h4>
                                    <ul>
                                        @{CultureInfo ci1 = new CultureInfo("Es-Es");}
                                        @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}

                                        @foreach (var horario in punto.horarioAbierto)
                                        {
                                            <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                        }
                                    </ul>
                                }

                            </div>
                        </div>
                    }

                    if (Model.cgpsEncontrados.Count() != 0 || Model.cgpsEncontradosCerca.Count() != 0)
                    {
                        <h2>CGPs</h2>
                    }
                    foreach (var punto in Model.cgpsEncontradosCerca)
                    {
                        <div class="poi">
                            <h3><span class="ion-android-clipboard"></span> @punto.nombreDePOI <span>(cercano)</span></h3>
                            @if (punto.coordenada != null)
                            {
                                <div class="coordinate"><span class="latitude">@punto.coordenada.Latitude</span>; <span class="longitude">@punto.coordenada.Longitude</span></div>
                            }
                            @if (punto.calle.IsEmpty() || punto.numeroAltura == 0)
                            {
                                <span>Dirección no encontrada</span>
                            }
                            else
                            {
                                <span>@punto.calle @punto.numeroAltura</span>
                            }

                            @if (punto.numeroDeComuna != 0)
                            {
                                <span> (Comuna @punto.numeroDeComuna) </span>
                            }
                            <div class="detalles">

                                @if (punto.horarioAbierto.Count() > 0)
                        {
                                    <h4><span class="ion-android-time"></span> Horarios</h4>
                                    <ul>
                                        @{CultureInfo ci1 = new CultureInfo("Es-Es");}
                                        @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}

                                        @foreach (var horario in punto.horarioAbierto)
                                        {
                                            <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                        }
                                    </ul>
                                }

                                @if (punto.servicios.Count() > 0)
                        {
                                    <h4>Servicios</h4>
                                    <ul>
                                        @foreach (var servicio in punto.servicios)
                                        {
                                            <li>
                                                @servicio.nombre
                                                <ul>
                                                    @{CultureInfo ci1 = new CultureInfo("Es-Es");}
                                                    @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}
                                                 
                                                    @foreach (var horario in servicio.horarioAbierto)
                                                    {
                                                        <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    }

                    foreach (var punto in Model.cgpsEncontrados)
                    {
                        <div class="poi">
                            <h3><span class="ion-android-clipboard"></span> @punto.nombreDePOI</h3>
                            @if (punto.coordenada != null)
                            {
                                <div class="coordinate"><span class="latitude">@punto.coordenada.Latitude</span>; <span class="longitude">@punto.coordenada.Longitude</span></div>
                            }
                            @if (punto.calle.IsEmpty() || punto.numeroAltura == 0)
                            {
                                <span>Dirección no encontrada.</span>
                            }
                            else
                            {
                                <span>@punto.calle @punto.numeroAltura</span>
                            }

                            @if (punto.numeroDeComuna != 0)
                            {
                                <span> (Comuna @punto.numeroDeComuna) </span>
                            }
                            <div class="detalles">
                                @if (punto.horarioAbierto.Count() > 0)
                        {
                                    <h4><span class="ion-android-time"></span> Horarios</h4>
                                    <ul>
                                        @{CultureInfo ci1 = new CultureInfo("Es-Es");}
                                        @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}

                                        @foreach (var horario in punto.horarioAbierto)
                                        {
                                            <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                        }
                                    </ul>
                                }

                                @if (punto.servicios.Count() > 0)
                        {
                                    <h4>Servicios</h4>
                                    <ul>
                                        @foreach (var servicio in punto.servicios)
                                        {
                                            <li>
                                                @servicio.nombre
                                                <ul>
                                                    @{CultureInfo ci1 = new CultureInfo("Es-Es");}
                                                    @{TextInfo myTI = new CultureInfo("Es-Es", false).TextInfo;}
                                                    @foreach (var horario in servicio.horarioAbierto)
                                                    {
                                                        <li> @(myTI.ToTitleCase((ci1.DateTimeFormat.GetDayName(horario.dia)).ToString())) abierto de @horario.horarioInicio a @horario.horarioFin</li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                }

                            </div>
                        </div>
                    }

                }

                <p>@ViewBag.SearchText</p>

            </div>
    </div>
